.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #151515;
  color: white;
  min-height: 30vh;
}
.header button {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

.art {
  position: relative;
background-color: #151515;
min-height: 80vh;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
}

.image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.properties {
  position: absolute;
  top: 10%;
  left: -100%;
  background: black;
  color: white;
  width: 18rem;
  padding: 1rem;
  transition: all 1s ease;
}

.image:hover ~ .properties {
  left: 0%;
  transition: all 1 ease;
}

.properties:hover {
  left: 0%;
}

.prop-group {
  padding: 1rem;
}

.prop-group h3 {
  color: gray;
  text-align: center;
  text-transform: uppercase;
}
.prop-group p {
  color: white;
  text-align: center;
}

