.App{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 25px;
  min-height: 100vh;
}

.header{
  grid-column: 1 / -1;
  width: 80%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-input input{
  width: 70%;
  height: 10vh;
  font-size: 1.2rem;
  padding: 1.2rem;
}

.filter-list{
  list-style: none;
  display: flex;
  margin-top: 3rem;
}

.header-filters ul li{
  padding: 2rem;
}


.main{
  grid-column: 1 / -1;
  width: 90%;
  justify-self: center;
  padding: 2rem;
  border: 3px solid red;
}


